<!DOCTYPE html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <style>
    h1 {
        text-align: center; 
    }
    

    #description {
        width: 1000px;
        margin: auto; 
        text-align: center; 
    }
    </style>
    <body>

        <h1>Single</h1>

        <div id = "description">
            <p>Price: <%= room.price %></p>
            <p>Size: <%= `${room.size} m²` %></p>
            <h2>AMENITIES</h2>
            <p>Our single bedroom comes complete with Air Conditioning, WiFi, TV, and a HairDryer</p>

            <a href = "">Book Now</a>
        </div>
      
    </body>
</html>