<!DOCTYPE html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        
    </head>
    <style>
    h1 {
        text-align: center; 
    }
    

    #description {
        width: 1000px;
        margin: auto; 
        text-align: center; 
    }
    </style>
    <body>


      
        <div class="card" style="padding-top: 80px; text-align: center">
                <h1 class="card-header" style="padding-bottom: 50px; ">Single</h1>
                <div class="card-body">
                <h5 class="card-title"><p>Price: IDR.<%= room.price %></p></h5>
                <br>
                <h7 class="card-title"><p>Size: <%= `${room.size} m²` %></p></p></h7>
                  <h9 class="card-text">The comfortable <%= room.size %> m² room comes with complimentary WiFi internet, Connectivity Panel, Espresso machine and 40" LCD TV. Enjoy your morning cup of coffee or Dilmah Tea with a view of Jakarta's skyline.</h9>
                  <br><br>
                  <a href = "/booking/single/reserve" class="btn btn-primary" >Book Now</a>
                </div>
            </div>

    </body>
</html>