<html>

<head>
    <link rel="stylesheet" href="/css/index.css" type="text/css">
    <title> H8H | Home</title>

</head>

<body>
<section>
    <header>
    <div class="header">
        <div class="row-header">
            <div><h3 class="col-header"> <a href="\" id="nav"> home </a></h3></div>
            <div><h3 class="col-header"> <a href="stay" id="nav"> stay </a> </h3></div>
            <div><h3 class="col-header"> <a href='/user/register' id="nav"> register </a></h3></div>
            
            <% if (!x) { %>
                <div><h3 class="col-header"> <a href="/user/login" id="nav"> login </a></h3></div>
            <% } %>

            <% if (x) { %>
                <div><h3 class="col-header"> <a href="/user/logout" id="nav"> logout </a></h3></div>
            <% } %>
            
        </div>   
    </div>
</header>
    
<div class="img1">
       <p class="rustic"> RUSTIC & MODERN </p>
    </div>
</section>


<section class="content">
    <div class>
    <div class="spacer-60">
        <hr>
    </div>
    <div class="about-hotel">
        <h2> H8H </h2>
    </div>
    <div class="spacer-40"></div>
    <div class="content-text">
        <p id="content-text1"> Hacktiv8 Hotel located in downtown Jakarta near the Pondok Indah Mall, we give you space to be yourself and room to gather. We're here to help you explore like a local, relax like it's your job, and soak in every detail. </p>
        <img src="/images/wavy-line.png" alt="wavy-line" id="wavy-line">
    </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row-img">
            <div>
                <p class="img-cap"><a href="stay.html" id="img-cap"> STAY </a></p>
                <img src="https://hotelvt.com/wp-content/uploads/2018/07/Hotel-Vermont-King-Bedroom.jpg" class="col-img"></div>
            <div>
                <p class="img-cap"><a href="food.html" id="img-cap"> EAT & DRINK </a></p>
                <img src="https://hotelvt.com/wp-content/uploads/2018/07/Hotel-Vermont-Juniper-Dinner-table.jpg" class="col-img"></div>
            <div>
                <a href="gather.html"> 
                <img src="https://hotelvt.com/wp-content/uploads/2018/12/Gather-at-Hotel-Vermont-Winter.jpg" class="col-img" id="cobaa">
                </a>
                </div>
            <div>
                <a href="gather.html">
                    <img src="https://hotelvt.com/wp-content/uploads/2018/05/Wedding-content-image-.jpg" class="col-img">
                </a>
            </div>
        </div>
    </div>
</section>

<footer class="footer">
    <h3 id="footer"> 22 CHERRY STREET, JAKARTA, INDONESIA - P: 0877 237 80472 - E: H8HOTEL@xMAIL.COM </h3>
</footer>

</body>

</html>