<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Fox Hotel: Home</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/style.css" type="text/css">
    </head>
    <body>
        <h1>Home Page</h1>
        <a href = '/user/register'>Register</a>
        <a href = '/user/login'>Log In</a>

        <form action = "/booking/available" method = "POST">
            <label>CHECK IN</label>
            <input type = "date" name = "arrival_time">
            <label>CHECK OUT</label>
            <input type = "date" name = "checkout_time">
            <label>Guests</label>
            <select name = "guests">
                <% for(let i = 1; i <= 4; i++) { %>
                    <option><%= i %></option>
                <% } %>
            </select>
            <button type = "submit">Check Availability</button>
        </form>
        <div class="pt20">
            <h1 style="text-align: center">Home Page</h1>
            <div class="row" style="text-align: center; font-size: 30px">
                <div class="col-6"><a href = '/user/register'>Register</a></div>
                <div class="col-6"><a href = '/user/login'>Log In</a></div>
            </div>
        </div>
    </body>
</html> 