<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Fox Hotel: Home</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>Home Page</h1>
        <a href = '/user/register'>Register</a>
        <a href = '/user/login'>Log In</a>

        <form action = "/booking/available" method = "POST">
            <label>CHECK IN</label>
            <input type = "date" name = "arrival_time">
            <label>CHECK OUT</label>
            <input type = "date" name = "checkout_time">
            <label>Adults</label>
            <select name = "adults">
                <% for(let i = 1; i <= 4; i++) { %>
                    <option><%= i %></option>
                <% } %>
            </select>
            <label>Children</label>
            <select name = "children">
                <% for(let i = 1; i <= 4; i++) { %>
                    <option><%= i %></option>
                <% } %>
            </select>
            <button type = "submit">Check Availability</button>
        </form>
    </body>
</html>