<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Fox Hotel: Home</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/style.css" type="text/css">
    </head>
    <style>
        label {
            display: block; 
        }
    </style>
    <body>
        
        <div class="pt200">
            <h1 style="text-align: center">Log In</h1>
            <br><br>
            <% let path = "/user/login" %>
            <% if(booking){ %>
                <% path = `/booking/${id}/payment/login` %>
                <h2>Please login before continuing your payment.</h2>
            <% } %> 
            <% if (error) { %>  
                <h2><%= error %></h2>
            <% } %>
            <form action = "<%= path %>" method = "POST">
                <div class="container" style="width: 400px">
                    <div class="form-group">
                        <label for="username">Username:</label>
                        <input type="username" name="username" class="form-control" id="" placeholder="Insert here">
                    </div>
                    <div class="form-group">
                        <label for="username">Password:</label>
                        <input type="password" name="password" class="form-control" id="" placeholder="Insert here">
                    </div>
                    <br>
                    <div style="text-align: center">
                        <button type="submit" class="btn btn-primary">Log In</button>
                    </div>
                </div>
            </form>
        </div>
        <!-- <form action = "/user/login" method = "POST">
            <label>Username</label>
            <input type="text" name = "username">
            <label>Password</label>
            <input type="text" name ="password">
            <button type = "submit">Log In</button>
        </form> -->
    </body>
</html>