<!DOCTYPE html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <style>
        h1 {
            text-align:center;
            margin-top: 30px; 
        }
        a{
            text-align:center;
            font-size: 30px;
        }
    </style>
    <body>
            <%- include('./partials/navbar.ejs') %>
        <h1>Your payment has been processed successfully. Please check your email for invoice details.</h1>
    </body>
</html>